
{% extends 'images/navbar.html' %}

{% block body %}
{% load staticfiles %}
<h1>{{ post.title }} </h1>
<img src="{{ post.image.url }}">
<p>{% if post.isUpVoted%}
    Up Voted!
{% endif %}</p>
<p>{% if post.isFaved%}
    Faved!
{% endif %}</p>

{% if errorMessage %}
    <p>{{ errorMessage }}</p>
{% endif %}

<li>
    <input type="button" id="{{ post.id }}" name="Up Vote" value="upVote">
</li>
<span><input type="button" id="{{ post.id }}" value="Fav"></span>

<a href="{% url 'images:comment' post.id%}">comment</a>

{% if post.comment_set.all %}
    {% for comment in post.comment_set.all %}
        <ul>
            <li>{{ comment.author }}</li>
            <li>{{ comment.content }}</li>
        </ul>
        {% if user.is_authenticated and user == comment.author %}
            <form action="{% url 'images:DeleteComment' comment.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="DELETE">
            </form>
        {% endif %}
    {% endfor %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}